/* *{
    margin:0;
    padding:0;
} */
body{
    font:'lato';
    word-spacing:2px;
    letter-spacing:2px;
}
h3{
    text-align:center;
    /* color:darkorchid; */
}

.main-content{
    display:flex;


}
#heading{
    background-color:teal;
}
.list{
    flex:3;
    /* background-color:#dedede; */
    text-align:center;
}
.form{
    flex:2;
    /* background-color:cyan; */
    /* <i class="fas fa-star"></i> */
}
#iImportant{
    font-size:32px;
    cursor:pointer;
    color:#666;
}
#iImportant.fas{
    color:lightgreen;
}
.form h3{
    background-color:darkorchid;
}
/* .list h3{
    background-color:teal;
} */


.list button{
    margin-top:50px;
}
label{
    font-weight:600;
    word-spacing:1px;
    letter-spacing:1px;
}
div.my-field{
    margin-bottom:15px;
}
.task{
    border:1px solid #dedede;
    display:flex;
    align-items:center;
    /* background-color:teal; */
    padding:7px 10px;
    margin:0 20px;
}
.task h3{
    flex:3;
}
.task label{
    flex:1;
}
.task .dates{
    flex:1;
}
.task .dates label{
    display:block;
}
.status-0{
    background-color:aqua; 
    border-radius:15px;
}
.status-1{
    background-color: teal; 
    border-radius:15px;
}
.status-3{
    background-color: darkorchid; 
    border-radius:15px;
}
.status-6{
    background-color:lightgreen; 
    border-radius:15px;
}
.status-9{
    background-color: violet; 
    border-radius:15px;
}

/* div.buttons{
    margin-bottom:15px;
} */
#task-list{
    padding-top: 20px;
}